<!DOCTYPE html>
<html lang="en">
<head>
    <title>Driver Main Page</title>
</head>
<body>
   <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="logout" style="font-size:100px">
</form>
  <h1>Main Page</h1>
   <h3>Normal Functions</h3>
  <li><a href="/app/request_ride">Request a Ride</a></li>
  <li><a href="/app/join_ride">Join a Ride</a></li>
  <li><a href="/app/my_rides_as_owner">My Rides as the Owner</a></li>
  <li><a href="/app/my_rides_as_sharer">My Rides as the Sharer</a></li>
   <h3>Driver Functions</h3>
   <li><a href="/app/driver_search/">Drive for a Ride</a></li>
   <li><a href="/app/my_rides_as_driver/">My Rides as the Driver</a></li>
   <li><a href="/app/edit_driver_information/">Edit Driver Information</a></li>

</body>
</html>
